<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Headers" value="x-rest-token" />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
		<rewrite>
			<rules>
				<rule name="Imported Rule 1" stopProcessing="true">
					<match url="^.*$" />
					<conditions logicalGrouping="MatchAny">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" pattern="" ignoreCase="false" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" pattern="" ignoreCase="false" />
					</conditions>
					<action type="None" />
				</rule>
				<rule name="Imported Rule 2" stopProcessing="true">
					<match url="^.*$" />
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
		<defaultDocument>
		</defaultDocument>
        <handlers>
            <remove name="PHP_VIA_FastCGI_81" />
        </handlers>
		<!--<handlers>
			<remove name="PHP_via_FastCGI" />
			<add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP72\php-cgi.exe" resourceType="Either" requireAccess="Script" />
		</handlers>-->
	</system.webServer>
</configuration>