@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --bg-one:#F3F3FF;
    --black-0: #000000;
    --black-1: #020202;
    --black-2: #060606;
    --black-3: #141414;
    --black-4: #020f14;
  
    --white-0: #ffffff;
    --white-1: #fffbfb;
    --white-2: #f6f6f6;
    --white-3: #f0f0f0;
    --white-4: #ebf9e5;
    --white-5: #F0F0FF;
    --primary-color: #4F4ED6;


    

  
    --cas-bold: "caslon-bold", sans-serif;
    --cas-regular: "caslon-regular", sans-serif;
    --cas-semibold: "caslon-semibold", sans-serif;
    --sap-black: "sapient-black", sans-serif;
    --sap-bold: "sapient-bold", sans-serif;
    --sap-medium: "sapient-medium", sans-serif;
    --sap-regular: "sapient-regular", sans-serif;
  }
  
  // RESPONSIVE BREAKPOINTS
  $bp-xxl: 1399.98px;
  $bp-xl: 1259.98px;
  $bp-lg: 991.98px;
  $bp-md: 767.98px;
  $bp-sm: 575.98px;
  
  // Font Imports
  @font-face {
    font-family: "caslon-bold";
    src: url(/assets/fonts/ACaslonPro-Bold.otf) format("opentype");
  }
  @font-face {
    font-family: "caslon-regular";
    src: url(/assets/fonts/ACaslonPro-Regular.otf) format("opentype");
  }
  @font-face {
    font-family: "caslon-semibold";
    src: url(/assets/fonts/ACaslonPro-Semibold.otf) format("opentype");
  }
  @font-face {
    font-family: "sapient-black";
    src: url(/assets/fonts/SapientSansBlack.otf) format("opentype");
  }
  @font-face {
    font-family: "sapient-bold";
    src: url(/assets/fonts/SapientSansBold.otf) format("opentype");
  }
  @font-face {
    font-family: "sapient-medium";
    src: url(/assets/fonts/SapientSansMedium.otf) format("opentype");
  }
  @font-face {
    font-family: "sapient-regular";
    src: url(/assets/fonts/SapientSansRegular.otf) format("opentype");
  }

  h2{font-size: 2.375rem;}
  h3{font-size: 2.25rem;}

  @media screen and (max-width: 767px){
    h2{font-size: 1.55rem;}
    h3{font-size: 2rem;}
  }

  .btn{border-radius: .5rem;}
  .btn-blue{background: var(--primary-color); color: var(--white-0);
    &:hover{
      color: var(--white-0);
    }
  }

  .main-heading{margin-bottom: 3rem;}
  .sub-heading{font-size: 14px;}

  .clr-blue{color: var(--primary-color);}
  

  body{
    
        font-family: "Mulish", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        background: var(--bg-one);
      
  }

  header{width: 100%;
    padding-top: 2rem;
    .header-phone {
        background: var(--white-0);
        padding: 5px 10px;
        border-radius: 30px;
        font-size: 1.2rem;
        @media screen and (max-width: 767px){
          font-size: 1rem;
        }
    }
    .logo{
      @media screen and (max-width: 767px){
        width: 100px;
      }
    }
}

.top-form-sec{
    padding: 2rem 0;
    .form-box{ position: relative; z-index: 9;
        max-width: 720px; width: 100%;
        margin: 2rem auto 0;
        border-radius: 1.25rem;
        background: var(--white-0);
        box-shadow: 0px 4px 12px 0px #00000014;
        padding: 2rem 0;
    }
}

.common-tabs{
    border-bottom: 1px solid #E8E8E8;
    .nav-link{
        color: #000;
        padding: .5rem 2rem;
        border-bottom: 2px solid transparent; font-size: 16px;
        &.active{
            border-bottom: 2px solid var(--primary-color);
            font-weight: 700;
        }
        @media screen and (max-width: 767px) {
          padding: .5rem 1rem;        
        }
    }
    @media screen and (max-width: 767px){
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scrollbar-width: none;
        flex-wrap: nowrap;
    }
}

.about-tab {
    position: relative;  
    flex-wrap: nowrap;
    padding-bottom: 10px;
    @media screen and (max-width: 767px) {
                   
    }
    .nav-link {
        border: none;        
        margin: 0 5px;
        background-color: var(--white-5);
        color: #000;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        padding: .5rem 2rem;
        border-radius: 10px;
        @media screen and (max-width: 767px) {
          padding: .5rem .5rem;  
          font-size: 11px;       
        }
        
        &.active {
            border: 1px solid #ccc;
            background: var(--primary-color);
            color: #fff;
            img{
                filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
            }
        }
    }
    
}

.from-input{
    position: relative; margin-bottom: 15px;
    .form-label{position: absolute; left: 60px; font-size: 12px; color: #9DA5B4;}
    .icon{width: 30px; height: 30px; background: var(--primary-color); border-radius: 50%;
      display: flex; justify-content: center; align-items: center;
        position: absolute; left: 15px; top: 10px;
    }
    .form-control{ height: 52px; border-radius: .5rem; border-color: #DDDDDD;
      &[type='text'] {
        padding-left: 60px;
      }
      
    }
}


.book-now{max-width: 300px; width: 100%;}

.client-sec{background: var(--primary-color); margin-top: -100px;
  padding-top: 150px; padding-bottom: 100px;
  @media (max-width: 768px) {
    padding-top: 100px; padding-bottom: 30px;
  }
}

.client-box{background: var(--white-0); border-radius: 20px; padding:50px 2rem 2rem; position: relative;
  margin-top: 50px;
  .name{font-size: 1.25rem; padding: .5rem 0 0;}
  .star{gap:.5rem; padding: .5rem 0 1rem;
    i{color: #FCCF1D;}
  }
  .client-pic{width: 85px; height: 85px; border-radius: 50%; border: 1px solid #fff;
    position: absolute; top: -40px; left: 50%; transform: translateX(-50%);
  }
}

.why-choose{
  padding: 100px 0 0;
  @media (max-width: 768px) {
    padding: 30px 0 0;
  }
}

footer{
  padding: 50px 0;
}
.popular-routes{
  ul{margin: 0;; padding: 0; list-style-type: none; display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;
    li{
      background: var(--white-0); box-shadow: 0px 3px 5px 0px rgba(209, 209, 209, .2); border-radius: 1.25rem;
      padding: 7px 15px;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}


.vertical-slider{
  &.owl-carousel {    
      .owl-nav{
        button{
          &.owl-prev{
            position: absolute;
            left: -60px;
            top: 50%;
            @media (max-width: 768px) {
              left: auto;
              top: auto;
              position: relative;
            }
          }
          &.owl-next{
            position: absolute;
            right: -60px;
            top: 50%;
            @media (max-width: 768px) {
              right: auto;
              top: auto;
              position: relative;
            }
          }
        }      
    }
  }
}

.image-gallery{
  display: flex; flex-direction: column; gap: 10px;
  .image-gallery-inner{
    display: flex; gap: 10px;
  }    
} 